[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-mail = "*"
transformers = "*"
pydantic = "*"
slowapi = "*"
pydantic-settings = "*"
loguru = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg2 = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
python-multipart = "*"

[dev-packages]
python-dotenv = "*"
pylint = "*"
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
alembic = "*"
pgcli = "*"

[requires]
python_version = "3.13"
